@page "/signup"

@using Socializer.BlazorHybrid.ViewModels
@using Socializer.Client

@inject ISocializerClient socializerClient
@inject LayoutState layoutState
@inject NavigationManager navigation

<EditForm EditContext="@editContext" OnValidSubmit="CreateUserAsync">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="createUserUI.Username" title="Choose a unique name" />
        <ValidationMessage For="@(() => createUserUI.Username)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText class="form-control" @bind-Value="createUserUI.Email" title="Choose a unique email" />
        <ValidationMessage For="@(() => createUserUI.Email)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText class="form-control" type="password" @bind-Value="createUserUI.Password" title="Choose strong password" />
        <ValidationMessage For="@(() => createUserUI.Password)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <InputText class="form-control" type="password" @bind-Value="createUserUI.ConfirmPassword" title="Confirm password" />
        <ValidationMessage For="@(() => createUserUI.ConfirmPassword)" />
    </div>

    <button class="btn btn-primary w-100 mb-2" type="submit">Create</button>
</EditForm>

@code {
    private CreateUserViewModel createUserUI = new();
    private EditContext editContext;

    protected override void OnInitialized()
    {
        layoutState.Header = "Sign up";
        editContext = new EditContext(createUserUI);
    }

    private async Task CreateUserAsync()
    {
        var result = await socializerClient.CreateUserAsync(createUserUI);

        if (result.IsSuccess)
            navigation.NavigateTo("/");
        else
            layoutState.ErrorMessage = result.ErrorMessage;
    }
}
